.carousel-ul {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

  column-gap: 20px;
  /* display: flex;
  overflow: hidden; */
  list-style: none;
}
.carousel-ul li {
  background-color: aqua;
}

.song-details {
  background-color: blanchedalmond;
  margin: 16px;
  border-radius: 5px;
  text-align: center;
}

.carousel-img {
  width: 85%;
  height: 150px;

  object-fit: cover;
}
