body {
	background-color: #000;
}

.carousel-row {
	border: 1px solid black;
	position: relative;
}
a {
	text-decoration: none;
	color: black;
}

.left-arrow {
	position: absolute;
	left: 20px;
	top: 100px;
}

.right-arrow {
	position: absolute;
	right: 20px;
	top: 100px;
}

.card-title {
	margin: 0;
}

.song-artist {
	margin: 0;
}

.slide-enter {
	opacity: 0.01;
	transform: translate(0px, 0px);
}

.slide-enter-active {
	opacity: 1;
	transform: translate(0, 0);
	transition: all 500ms ease-in;
}

.slide-exit {
	opacity: 1;
	transform: translate(0, 0);
}

.slide-exit-active {
	opacity: 0.01;
	transform: translate(0px, 0px);
	transition: all 300ms ease-in;
	display: none;
}
